/* css code goes here */
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #41B3A3; */
    background-color: #85DCBB;
}
#highestScoreTitle{
    text-transform: uppercase;
    margin: 0.2rem 0.1rem;
}
#top-score{
    padding: 0.2rem 0.1rem;
    text-align: center;
    width: 130px;
    /* background-color: aqua; */
    position: absolute;
    top:-100px;
    left:12px;
    border:1px solid #553D67;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}
#top-score:hover{
    width: 160px;
    background-color: cadetblue;
    color: #fdfdfd;
}
#top-score div{
    margin: 0.2rem 0rem;
}

select{
    font-weight: 600;
    font-size: 15px;
}

#title{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 999;
    text-transform: capitalize;
    text-decoration:underline;
    color: #553D67;
}
.bt{
    margin: 1.5rem;
}
.btn{
    padding: 0.6rem 1rem;
    margin: 0 1rem;
    border-radius: 5px;
    font-weight: 700;
    border-color: whitesmoke;
    box-shadow: 4px 4px 5px rgb(231, 229, 229);
    transition: 0.35s ease-in-out;
}

.btn:hover{
    width: 100px;
    box-shadow: 8px 8px 10px gainsboro;
    color: white;
    cursor: pointer;
}
.start{
    background-color: rgb(142, 211, 39);
}
.reset{
    background-color: rgba(229, 20, 62,0.8);
}

.music{
    background-color: rgb(93, 147, 209);
}
.container{
    width: 490px;
    height: 490px;
    /* outline: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.square{
    width: 150px;
    height: 150px;
    margin: 0rem 0.2rem;
    outline: 2px solid rgb(255, 255, 255);
    /* background-color:#7395AE; */
    /* background-color: #950740; */
    background-color: #4E4E50;
    transition: 0.1s ease-in-out;
}
.mole{
    background-image: url(https://scontent.fblr17-1.fna.fbcdn.net/v/t1.18169-9/17759925_1290417197703318_8168277042705458975_n.png?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=S2SFdGo0i48AX8It6br&_nc_ht=scontent.fblr17-1.fna&oh=00_AfAfEprajrr_mIiDIvYs3fFcuopd_RboUxiTFmX51TJgCA&oe=63C64DBC);
    background-size: contain;
}

#scoreTable{
    /* background-color: aquamarine; */
    min-width: 30vw;
    padding: 1rem 0.5rem;
    margin: 1.5rem 0.5rem;
    /* outline: 2px solid black; */
}

tr{
    /* outline: 2px solid black; */
    text-align: center;
    margin: 0.5rem 0rem;
}
th{
    border: 2px solid black;
    margin: 0.5rem 0rem;
}
.ml15 {
    font-family: 'Akronim';
    font-weight: 900;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    color: #553D67;
}

.ml15 .word {
    display: inline-block;
    line-height: 1em;
}


.square:hover{
    width: 160px;
    height: 160px;
}

@media (max-width:500px) {
    .container{
        width: 350px;
        height: 350px;
    }

    .square{
        width: 100px;
        height: 100px;
        margin: 0rem 0.2rem;
        background-color:grey;
    }

    .square:hover{
        width: 110px;
        height: 110px;
    }

    .ml15 {
        font-size: 1.5rem;
    }
    #top-score{
        padding: 0.1rem 0.1rem;
        position: absolute;
        top:-100px;
        left:12px;
    }
}